
workspace/registers/.cproject

workspace/registers/.project

workspace/registers/.settings/language.settings.xml

workspace/registers/.settings/org.eclipse.cdt.core.prefs

*.o
*.d
*.so
/build/
/.cproject
/.project

/tools/arm-none-linux-gnueabi

tools/arm-none-linux-gnueabi-old
